In [23]:
import pandas as pd

In [24]:
sales = {
    'date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03', '2023-01-03']),
    'item': ['A', 'B', 'A', 'C', 'A'],
    'quantity': [1, 2, 3, 1, 5],
    'price': [100, 200, 100, 300, 100]
}
df_sales = pd.DataFrame(sales)
df_sales

        date item  quantity  price
0 2023-01-01    A         1    100
1 2023-01-02    B         2    200
2 2023-01-02    A         3    100
3 2023-01-03    C         1    300
4 2023-01-03    A         5    100

In [25]:
#tính total
df_sales["total"] = df_sales["quantity"] * df_sales["price"]
df_sales

        date item  quantity  price  total
0 2023-01-01    A         1    100    100
1 2023-01-02    B         2    200    400
2 2023-01-02    A         3    100    300
3 2023-01-03    C         1    300    300
4 2023-01-03    A         5    100    500

In [26]:
# tính sản phẩm bán được của A
print( df_sales.loc[df_sales["item"] == "A" , "quantity"].sum())

9

In [27]:
# tính tổng số lượng bán và đoanh thu
print(df_sales.groupby('item')[["total" , "quantity"]].sum())

      total  quantity
item
A       900         9
B       400         2
C       300         1

In [29]:
#item doanh thu cao nhất
df_sales.sort_values(by="total" , ascending=False).iloc[0]["item"]

'A'